<!DOCTYPE html>
{% extends 'playerhq/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block body_block %}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>We are students from University of Glasgow. We work hard to provide one of the most unique gaming platforms, where you can not only review games but also add them.</p>
  <p>We hope you have a splendid time at the Players HQ.</p>
  <p>For business purposes, contact us from the information given below </p>
</div>


<h1 style="text-align:center">Our Team</h1>

<div class="column">
    <div class="card">
      <img src="{% static 'images/Areeb.jpg' %}" alt="Areeb" style="width:100%" border= "5px solid #555";>
      <div class="container">
        <h2>Areeb Babar</h2>
        <p class="title">Art Director</p>
        <p>I inspired the desingers and took all the credit. After all, that's what CEOs do</p>
        <p>email: 2396974B@student.gla.ac.uk</p>
		<p>phone: 012345678910</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/Aaron.jpg' %}" alt="Aaron" style="width:100%" border= "5px solid #555">
      <div class="container">
        <h2>Aaron Hundal</h2>
        <p class="title">Front-End Programmer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem</p>
        <p>email: 2391506H@student.gla.ac.uk</p>
		<p>phone: 023456781012</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/Saad.jpg' %}" alt="Saad" style="width:100%" border= "5px solid #555">
      <div class="container">
        <h2>Saad Butt</h2>
        <p class="title">Back-End Programmer</p>
        <p>I have worked hard to enjoy success and I have to say it's worth it</p>
        <p>email: 2403967B@student.gla.ac.uk</p>
		<p>phone: 013579111314</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="{% static 'images/Bers.jpg' %}" alt="Bers" style="width:100%" border= "5px solid #555">
      <div class="container">
        <h2>Bers Batjargal</h2>
        <p class="title">Stylist</p>
        <p>I'm the co-founder,I just played Dota</p>
        <p>email: 2431997B@student.gla.ac.uk</p>
		<p>phone: 051015202530</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>



{% endblock %}
