<!DOCTYPE html>
{% extends 'playerhq/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title_block %}
{% endblock %}

{% block body_block %}

<h1>Add a Game</h1>

<div>
	<form id="game_form"  enctype="multipart/form-data" method="post" action="/playerhq/category/{{category.slug}}/addGameReview/">
	{% csrf_token %}
	{% for field in form2.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    {{ form3.as_p}}
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

		<input type="submit" class="btn btn-primary" name="submit" value="Add Game" />
	</form>
</div>
{% endblock %}