<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static 'css/new12.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="p-3 mb-2 bg-dark text-white" background="{% static 'images/background.jpg' %}" style = "background-repeat: no-repeat;
  background-attachment: fixed;">
  <div class=”main-container”>
	<header>
		<img src="{% static 'images/new22.png' %}" alt="Logo" />
		{% if user.is_authenticated %}
		<input class="butt" type="submit" onclick="window.location.href={% url 'playerhq:index' %};" value="Home"/>
  		<input class="butt3" onclick="window.location.href ='{% url 'playerhq:logout' %}';" type="submit" value="Logout"/>
		{% else %}
		<input class="butt" type="submit" onclick="window.location.href={% url 'playerhq:index' %};" value="Home"/>
		<input class="butt2" onclick="window.location.href ='{% url 'playerhq:login' %}';" type="submit" value="Log in"/>
  		<input class="butt1" onclick="window.location.href ='{% url 'playerhq:signup' %}';" type="submit" value="Sign up"/>
		{% endif %}
		<span style="font-family: 'Lobster', cursive; font-size: 42px;  color: #FFFFFF; font-weight: bold;">
  		{% if user.is_authenticated %}
		Welcome {{ user.username }}, to the PlayersHQ!
	    {% else %}
                Welcome, to the PlayersHQ! <br />
	    {% endif %}
		</span>
	</header>
	
	<hr/>
		<div class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
		{% if categories %}
			{% for category in categories %}
				<a class="navbar-brand" href="{% url 'playerhq:category' category.slug %}">{{ category.catName}}</a>
				<span style="color: #000000">||</span>
			{%endfor%}
		{% endif %}
		 	<a class="navbar-brand" href="{% url 'playerhq:about' %}">About</a>
		</div>
	<hr/>
	<div>
	{% block body_block %}
	{% endblock %}
	</div>
	<br/>
	<footer class="footer">
		<span style="font-family: 'Lobster', cursive; font-size: 18px;  color: #FFFFFF;">Liked our page? Follow us to stay tuned to our latest updates!</span>
		<div class="container">
			<div class="row">
				<div class="col">
					<a href="https://www.facebook.com/profile.php?id=100010163895216" class="fa fa-facebook"></a> 
					<span>buttSaad909</span>
				</div>
				<div class="col">
					<a href="https://twitter.com/lolimaster911" class="fa fa-twitter"></a>
					<span>lolimaster911</span>
				</div>
				<div class="col">
					<a href="https://www.instagram.com/areeb_babar.21/?hl=en" class="fa fa-instagram"></a>
					<span>areeb_babar.21</span>
				</div>
				<div class="col">
					<a href="#" class="fa fa-youtube"></a>
					<span>Aaron Hundal</span>
				</div>
			</div>
		</div>
	</footer>
</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>