<!DOCTYPE html>
{% extends 'playerhq/base.html' %}
{% load staticfiles %}

{% block title_block %}
	<title> {{ game.GameName }} </title>
{% endblock %}

{% block body_block %}

	<h1> Game Review </h1>
	{% for review in reviews %}
	<div>
	<img src="{{ game.GameImage.url }}" class="img-responsive" style=" float: left; margin-right: 10px; border: 5px solid #000000;" />
	</div>
	<div class="container">
			<h2>{{review.GameName}}</h2><br/>
			<p>Rating: {{ game.GameRating }} </p>
		<p> Category: {{ game.GameCategory }} </p>
		<p> Description: {{ game.Gamedescription }} </p>
		<hr> </hr>
		</div>
		<div>
			{{review.ReviewerName}}:</br>
			Graphics: {{review.Graphics}}</br>
			Storyline: {{review.Storyline}}</br>
			Gameplay: {{review.Gameplay}}</br>
			{{review.Review}} <br/>
		</div>
			<hr></hr>

	{% for com in comments %}
		{% if com.GameName == review.GameName %}
		<p>
		Comments:<br/>
		{{com.CommentName}}<br/>
		{{com.Comments}}
		</p>
		{% endif%}
	{%endfor%}
	{% endfor %}
<hr> </hr>
	<!--
	{% for gam in games_images %} 
        <div class="col-md-4"> 
            {{ gam.name }} 
            <img src="{{ gam.games_images.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /> 
        </div> 
    {% endfor %} 
	-->
{% endblock %}