<!DOCTYPE html>
{% extends 'playerhq/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<center style="font-family: monospace; font-size: 40px; font-weight: bold;">Login to the PlayerHQ!</center>
<form class="login-form" id="login_form" method="post" action="{% url 'playerhq:login' %}">
  {% csrf_token %}
  <input type="text" class="login-username" name="username" autofocus="true" required="true" placeholder="Username" size="50" />
  <input type="password" class="login-password" required="true" name="password" placeholder="Password" size="50"/>
  <input type="submit" name="Login" value="Submit" class="login-submit" />
</form>
{% endblock %}