<!DOCTYPE html>
{% extends 'playerhq/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title_block %}
{% endblock %}

{% block body_block %}
<h1>Register for PlayerHQ!!</h1>

{% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'playerhq:index' %}">Return to the homepage.</a><br />
{% else %}
    <strong>Register here!</strong><br />

    <form id="user_form" method="post" action="{% url 'playerhq:signup' %}" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in user_form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    {% for field in profile_form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}


	<input type="submit" class="btn btn-primary" name="submit" value="Register" />
    </form>
{% endif %}
{% endblock %}



   