		.button{
			float:right; 
			background-color: #f44336; 
			border-radius: 12px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		  	border: none;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 20px;
			margin: 20px 2px;
			cursor: pointer;
			display: block;
		}

		.butt2{
			float:right; 
			background-color: #f44336; 
			border-radius: 12px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		  	border: none;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 18px;
			position: relative;
			margin: 150px -120px;
			cursor: pointer;
			display: block;
		}

		.button1{
			float:right; 
			background-color: #f44336; 
			border-radius: 12px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		  	border: none;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 18px;
			position: relative;
			margin: 85px -120px;
			cursor: pointer;
			display: block;
		}
		.button:not(:last-child) {
			border-bottom: none;
		}

		.topnav {
		  overflow: hidden;
		  background-color: #e9e9e9;
		}

		.topnav a {
		  float: right;
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 100px;
		  text-decoration: none;
		  font-size: 17px;
		}

		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}

		.topnav a.active {
		  background-color: #2196F3;
		  color: white;
		}

		.topnav input[type=text] {
		  float: left;
		  padding: 6px;
		  border: none;
		  margin-top: 8px;
		  margin-right: 16px;
		  font-size: 17px;
		}

		.foo {
			position: fixed;     
       		text-align: center;    
       		bottom: 0px; 
       		width: 100%;
		}

		@media screen and (max-width: 600px) {
		  .topnav a, .topnav input[type=text] {
		    float: none;
		    display: block;
		    text-align: right;
		    width: 100%;
		    margin: 0;
		    padding: 14px;
		  }
		  .topnav input[type=text] {
		    border: 1px solid #ccc;
		  }
		}